@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background: #3697ff; */
background: linear-gradient(153deg, rgba(54, 151, 255, 1) 0%, rgba(194, 0, 65, 1) 100%);
min-height: 100vh;
}
*:hover {
    transition: .2s;
}